<!doctype html>
<html>
    <head>
        <title>Web tty</title>

        <link rel="stylesheet" href="/static/vendor/vendor.css" />
        <script type="module" src="/static/main.js"></script>
        <script type="importmap" type="application/json">
            {
                "imports": {
                    "vendor": "/static/vendor/vendor.js"
                }
            }
        </script>
    </head>

    <body style="margin: 0">
        <div id="app" style="height: auto; width: auto"></div>
    </body>
    <script async src="/static/vendor/es-module-shims.js"></script>
</html>
